:root {
	margin: 0.5cm;
	padding: 0;
}

main {
	font-size: 23px;
	font-family: ui-monospace;
	font-weight: 420;
	width: 28cm;

	div.hundred {
		break-inside: avoid;
		display: grid;
		grid-template-columns: repeat(10, min-content);
		gap: 1cm;
	}
}

svg.qr {
	width: 100%;
	aspect-ratio: 1/1;
}

@page {
	size: a4;
}
