:root {
	margin: 0.5cm;
	padding: 0;
}

main {
	display: grid;
	grid-template-columns: repeat(10, 1.8cm);
	gap: 0.8cm;
	font-family: ui-monospace;
	font-weight: 500;
	width: 28cm;

	div {
		break-inside: avoid;
		font-size: 20px;
	}
}

svg.qr {
	width: 100%;
	aspect-ratio: 1/1;
}

@page {
	size: a4;
}
