html {
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body {
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;

	font-weight: 400;
	font-size: 16px;
	background-color: var(--clouds);
	transition: background-color 1.2s;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 var(--grid) 0;
	line-height: calc(2 * var(--grid));
}

h1 {
	font-size: 2rem;
}

a {
	--border: var(--ocean);
	color: inherit;
	text-decoration-style: solid;
	text-decoration-color: var(--border);
	text-decoration-line: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 4px;
}

a:hover {
	color: var(--border);
}

a:active {
	color: var(--glint);
}

p {
	margin: 0;
	padding: var(--grid) 0;
}

picture {
	display: block;
	position: relative;
	--ratio: 9;
	width: calc(var(--width) * var(--grid));
	height: calc(var(--width) * var(--ratio) * var(--grid));
	color: var(--skies);
	background-image:
		linear-gradient(
			to bottom right,
			transparent calc(50% - 1px),
			currentColor calc(50% - 1px),
			currentColor calc(50% + 1px),
			transparent calc(50% + 1px)
		),
		
		linear-gradient(
			to top right,
			transparent calc(50% - 1px),
			currentColor calc(50% - 1px),
			currentColor calc(50% + 1px),
			transparent calc(50% + 1px)
		);
	background-position: calc(0.5 * var(--grid-x)) var(--grid-y);
	background-size: var(--grid-x) var(--grid-y);

	transition: color 1.2s;
}

ul {
	margin: 0;
	padding: calc(0.5 * var(--grid)) 0;
	list-style-type: none;
}

picture::after {
	content: "";
	position: absolute;
	top: -1px;
	left: -1px;
	right: -1px;
	bottom: -1px;
	border: 2px solid currentColor;
}

picture img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

picture + picture {
	margin-top: var(--grid);
}

footer {
	padding-top: var(--grid-y);
	position: relative;
}

footer::before {
	content: " ";
	display: block;
	position: absolute;
	top: calc(0.5 * var(--grid-x) - 1px);
	height: 2px;
	width: 100%;
	background-color: var(--skies);
}

/* -- GRID --------------------------- */

#grid {
	--grid: 1.125rem;
	--grid-double: calc(2 * var(--grid));
	--grid-x: calc(2 * var(--grid));
	--grid-y: calc(1 * var(--grid));

	--width: 12;
	width: calc(var(--width) * var(--grid));
	margin: 0 auto;
	padding-block: calc(0.25 * var(--grid-y));
	padding-inline: calc(0.25 * var(--grid-x));
	line-height: var(--grid);
	color: var(--earth);

	position: relative;

	transition: color 1.2s;
}

#grid::before {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;
	color: var(--skies);

	background-image:
		radial-gradient(circle at 25% 75%, currentColor 1px, transparent 1px),
		 radial-gradient(circle at 75% 25%, currentColor 1px, transparent 1px);
	background-position: top left;
	background-size: var(--grid-x) var(--grid-y);
}

.themed #grid,
.themed #grid::before {
	transition: color 1.2s;
}
