:root {
  --ocean: #009fa7;
  --glint: #ff763d;
}

@supports (color: lab(0% 0 0)) {
  :root {
    --ocean: lab(60% -65.7753 -29.2851);
    --glint: lab(66% 70.5342 97.082);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --earth: #00323b;
    --clouds: #edfcff;
    --skies: #c9e8ef;
  }

  @supports (color: lab(0% 0 0)) {
    :root {
      --earth: lab(18% -19.4164 -14.1068);
      --clouds: lab(98% -4.8541 -3.52671);
      --skies: lab(90% -9.7082 -7.05342);
    }
  }
}

.light {
  --earth: #00323b;
  --clouds: #edfcff;
  --skies: #c9e8ef;
}

@supports (color: lab(0% 0 0)) {
  .light {
    --earth: lab(18% -19.4164 -14.1068);
    --clouds: lab(98% -4.8541 -3.52671);
    --skies: lab(90% -9.7082 -7.05342);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --earth: #edfcff;
    --clouds: #00323b;
    --skies: #001e22;
  }

  @supports (color: lab(0% 0 0)) {
    :root {
      --earth: lab(98% -4.8541 -3.52671);
      --clouds: lab(18% -19.4164 -14.1068);
      --skies: lab(9% -19.4164 -14.1068);
    }
  }
}

.dark {
  --earth: #edfcff;
  --clouds: #00323b;
  --skies: #001e22;
}

@supports (color: lab(0% 0 0)) {
  .dark {
    --earth: lab(98% -4.8541 -3.52671);
    --clouds: lab(18% -19.4164 -14.1068);
    --skies: lab(9% -19.4164 -14.1068);
  }
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@font-face {
  font-family: IBM Plex Sans Variable;
  font-style: normal;
  font-weight: 100 700;
  src: local(IBM Plex Sans Var), local(IBMPlexSansVar-Roman), url("./IBMPlexSansVar-Roman.woff2") format("woff2-variations");
  font-display: swap;
}

body {
  background-color: var(--clouds);
  font-family: IBM Plex Sans Variable, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body.themed {
  transition: background-color 1.2s;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 var(--grid) 0;
  line-height: calc(2 * var(--grid));
}

h1 {
  font-size: 2rem;
}

a {
  --border: var(--ocean);
  color: inherit;
  text-decoration-style: solid;
  text-decoration-color: var(--border);
  text-underline-offset: 4px;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

a:hover {
  color: var(--border);
}

a:active {
  color: var(--glint);
}

p {
  padding: var(--grid) 0;
  margin: 0;
}

picture {
  --width: 12;
  --ratio: 9;
  width: calc(var(--width) * var(--grid));
  height: calc(var(--width) * var(--ratio) * var(--grid));
  color: var(--skies);
  background-image: linear-gradient(to bottom right, #0000 calc(50% - 1px), currentColor calc(50% - 1px) calc(50% + 1px), #0000 calc(50% + 1px)), linear-gradient(to top right, #0000 calc(50% - 1px), currentColor calc(50% - 1px) calc(50% + 1px), #0000 calc(50% + 1px));
  background-position: calc(.5 * var(--grid-x)) var(--grid-y);
  background-size: var(--grid-x) var(--grid-y);
  transition: color 1.2s;
  display: block;
  position: relative;
}

picture:after {
  content: "";
  border: 2px solid;
  position: absolute;
  inset: -1px;
}

picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

picture + picture {
  margin-top: var(--grid);
}

#grid {
  --grid: 1.125rem;
  --grid-double: calc(2 * var(--grid));
  --grid-x: calc(2 * var(--grid));
  --grid-y: calc(1 * var(--grid));
  width: calc(16 * var(--grid));
  padding-block: calc(.25 * var(--grid-y));
  padding-inline: calc(.25 * var(--grid-x));
  line-height: var(--grid);
  color: var(--earth);
  margin: 0 auto;
  position: relative;
}

#grid:before {
  content: "";
  z-index: -1;
  color: var(--skies);
  background-image: radial-gradient(circle at 25% 75%, currentColor 1px, #0000 1px), radial-gradient(circle at 75% 25%, currentColor 1px, #0000 1px);
  background-position: 0 0;
  background-size: var(--grid-x) var(--grid-y);
  position: absolute;
  inset: 0;
}

.themed #grid, .themed #grid:before {
  transition: color 1.2s;
}

@media screen and (min-width: 340px) {
  #grid {
    width: calc(18 * var(--grid));
  }

  picture {
    --width: 18;
  }
}

@media screen and (min-width: 440px) {
  #grid {
    width: calc(24 * var(--grid));
  }

  picture {
    --width: 24;
  }
}

@media screen and (min-width: 540px) {
  #grid {
    width: calc(30 * var(--grid));
  }

  picture {
    --width: 30;
  }
}

@media screen and (min-width: 660px) {
  #grid {
    width: calc(36 * var(--grid));
  }

  picture {
    --width: 36;
  }
}

@media screen and (min-width: 760px) {
  #grid {
    width: calc(42 * var(--grid));
  }

  picture {
    --width: 42;
  }
}

@media screen and (min-width: 880px) {
  #grid {
    width: calc(48 * var(--grid));
  }

  picture {
    --width: 48;
  }
}

@media screen and (min-width: 980px) {
  #grid {
    width: calc(54 * var(--grid));
  }

  picture {
    --width: 54;
  }
}

@media screen and (min-width: 1080px) {
  #grid {
    width: calc(60 * var(--grid));
  }

  picture {
    --width: 60;
  }
}

@media screen and (min-width: 1200px) {
  #grid {
    width: calc(66 * var(--grid));
  }

  picture {
    --width: 66;
  }
}

@media screen and (min-width: 1300px) {
  #grid {
    width: calc(72 * var(--grid));
  }

  picture {
    --width: 72;
  }
}
