html,
.light {
	--earth: hsl(190, 89%, 6%);
	--ocean: hsl(192, 84%, 30%);
	--glint: hsl(18, 96%, 60%);
	--cloud: hsl(192, 18%, 84%);
	--skies: hsl(200, 48%, 92%);
}

@media (prefers-color-scheme: dark) {
	html {
		--earth: hsl(200, 48%, 92%);
		--ocean: hsl(200, 36%, 60%);
		--glint: hsl(18, 96%, 60%);
		--cloud: hsl(190, 89%, 12%);
		--skies: hsl(200, 96%, 6%);
	}
}

.dark {
	--earth: hsl(200, 48%, 92%);
	--ocean: hsl(200, 36%, 60%);
	--glint: hsl(18, 96%, 60%);
	--cloud: hsl(190, 89%, 12%);
	--skies: hsl(200, 96%, 6%);
}

html {
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body {
	--grid: 1.125rem;
	--grid-double: calc(2 * var(--grid));

	margin: 0;
	padding: calc(0.5 * var(--grid));
	font-family: "IBM Plex Sans Variable", sans-serif;

	font-weight: 400;

	/*
	Weight axis: 100 – 700
	Width axis: 85 – 100
	*/

	/* font-variation-settings: "wght" var(--weight), "wdth" var(--weight); */

	font-size: 16px;
	line-height: 18px;
	background-color: var(--cloud);
	color: var(--earth);

	background-image: radial-gradient(circle at center, var(--skies) 1px, transparent 1px);
	background-position: top left;
	background-size: var(--grid) var(--grid);
}

body.themed {
	transition: all 0.5s;
}

@media (prefers-reduced-motion: reduce) {
	body {
		transition: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 var(--grid) 0;
	line-height: calc(2 * var(--grid));
}

h1 {
	font-size: 2rem;
}

a {
	--border: var(--ocean);
	color: inherit;
	text-decoration: none;
	background-size: 1rem 1rem;
	background-repeat: repeat-x;
	background-position: bottom center;
	background-image: linear-gradient(to top, var(--border), var(--border) 0.125rem, transparent 0.0625rem);
}

a:hover {
	color: var(--border);
	/* text-shadow: 0px 0px 0.0625rem var(--border); */
	/* background-color: var(--border); */
}

p {
	margin: 0;
	padding: var(--grid) 0;
}

picture {
	display: block;
	position: relative;
	--width: 12;
	--ratio: 9;
	width: calc(var(--width) * var(--grid));
	height: calc(var(--width) * var(--ratio) * var(--grid));
}

picture::after {
	content: "";
	position: absolute;
	top: -1px;
	left: -1px;
	right: -1px;
	bottom: -1px;
	border: 2px solid var(--skies);
}

picture img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (min-width: 360px) {
	picture {
		--width: 18;
	}
}

@media screen and (min-width: 740px) {
	picture {
		--width: 36;
	}
}

@media screen and (min-width: 1200px) {
	picture {
		--width: 60;
	}
}

@media screen and (min-width: 1400px) {
	picture {
		--width: 72;
	}
}
