name: CI
on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - main

jobs:
  deno:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.3.x

      - name: Format
        run: deno fmt

      - name: Lint
        run: deno lint

      - name: Type-check
        run: deno check deno/**.ts

      - name: Test
        run: deno test deno/*.js

  deploy:
    runs-on: ubuntu-latest

    permissions:
      # This is required to allow the GitHub Action to authenticate with Deno Deploy.
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v6

      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.3.x

      - name: Build
        run: deno task build

      - name: Deploy to Deno Deploy
        uses: denoland/deployctl@v1
        with:
          project: mxdvl
          entrypoint: deno/server.ts
          # root: deno
